[mysqld]

log-bin
server-id=1
binlog-format=row
binlog-checksum=NONE

gtid-mode=ON
enforce-gtid-consistency=on

log-slave-updates
master-info-repository=TABLE
relay-log-info-repository=TABLE
transaction-write-set-extraction=XXHASH64

loose-group_replication_group_name="aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee"
loose-group_replication_single_primary_mode=OFF
loose-group_replication_allow_local_disjoint_gtids_join=ON

loose-group_replication_start_on_boot=on
#loose-group_replication_bootstrap_group=off

loose-group_replication_flow_control_mode=QUOTA
loose-group_replication_flow_control_certifier_threshold=1000
loose-group_replication_flow_control_applier_threshold=1000

slave_preserve_commit_order=on
slave_parallel_type=LOGICAL_CLOCK
slave_parallel_workers=16
sync_relay_log_info=0
sync_master_info=0
sync_relay_log=0
binlog_row_image=full
