[mysqld]

datadir=/var/lib/mysql

default_storage_engine=InnoDB
log_bin=/var/log/mysql/mysqlbinlog
server_id=1
binlog_format=ROW

innodb_flush_method             = O_DIRECT
innodb_file_per_table           = 1

bind_address = 0.0.0.0
master_info_repository=TABLE
relay-log-info-repository=TABLE

